main
{
    margin: 0 15px;
}

main > .client,
main > .payment,
main > .company-info
{
    padding: 20px;
}

main > .client > img
{
    float: right;
    height: 150px;
    margin: 0 15px 15px;
    /*border: 1px solid lightgrey;*/
    /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
}

main > .client > h3
{
    margin: 0;
}

.client .client-info
{
    display: flex;
    flex-direction: column;
}

.client .contacts > a
{
    margin-right: 15px;
}

.client .client-info a:last-child
{
    padding: 15px 0;
}

.payment
{
    clear: right;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

.payment input[type='text'],
.payment input[type='email']
{
    border: none;
    border-bottom: 2px solid lightgrey;
    max-width: 500px;
}

.payment > label,
.payment .pay > label
{
    color: #3b93be;
    font-weight: bold;
    cursor: pointer;
    margin-right: 25px;
}

.payment .pay > label
{
    font-size: 85%;
    padding: 5px;
}

.payment input[type='radio'],
.payment input#pay:checked ~ .get-payment,
.payment input#get-payment:checked ~ .pay,
.payment > .pay > input#any-bank:checked ~ .own-bank,
.payment > .pay > input#own-bank:checked ~ .any-bank
{
    display: none;
}

.payment > input#pay:checked ~ label[for='pay'],
.payment > input#get-payment:checked ~ label[for='get-payment']
{
    color: black;
}

.payment .pay > input#any-bank:checked ~ label[for='any-bank'],
.payment .pay > input#own-bank:checked ~ label[for='own-bank']
{
    color: black;
    background: rgba(241, 241, 241, 0.5);
}

.payment > .pay,
.payment > .get-payment,
.payment > .pay > .any-bank,
.payment > .pay > .own-bank
{
    margin-top: 15px;
}

.pay .any-bank form
{
    display: grid;
    grid-template-columns: 1fr 200px 1.5fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 40px;
}

.any-bank .credit-card
{
    grid-row: span 5;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 5px  5px 25px rgba(0,0,0,0.3);
    display: grid;
    grid-template:
        'images images' 1fr
        'card-number card-number' 1fr
        'date cvc' 1fr
        / 1fr 1fr;
    grid-gap: 20px;
    padding: 30px 20px;
    margin: 0 20px 20px 0;
}

.any-bank .credit-card #card-number,
.any-bank .credit-card #date,
.any-bank .credit-card #cvc
{
    background-color: #f9f9f9;
}

.any-bank .credit-card #card-number
{
    grid-area: card-number;
}

.any-bank .credit-card #date
{
    grid-area: date;
}

.any-bank .credit-card #cvc
{
    grid-area: cvc;
}

.payment .own-bank form .fields,
.payment .get-payment form .fields
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    padding-bottom: 30px;
}

.get-payment .fields a
{
    grid-column: span 2;
}

.nds-fields label
{
    padding: 7px 10px;
    border: 2px solid white;
}

.nds-fields input.nds18:checked ~ label.nds18,
.nds-fields input.nds10:checked ~ label.nds10,
.nds-fields input.without-nds:checked ~ label.without-nds
{
    border: 2px solid lightgray;
}

.company-info .services
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.company-info .service
{
    padding: 15px;
    border: 2px solid lightgrey;
    height: 250px;
    /*display: grid;*/
    /*grid-template: 'image';*/
}

.service img
{
    /*width: 100%;*/
    height: 50%;
}
